[submodule "mathcomp"]
	path = mathcomp
	url = git@github.com:jscoq/addon-mathcomp
	branch = hierarchy-builder
[submodule "elpi"]
	path = elpi
    url = git@github.com:gares/addon-elpi.git
    branch = master
[submodule "hierarchy-builder"]
	path = hierarchy-builder
    url = git@github.com:gares/addon-hierarchy-builder.git
    branch = master